NODE_ENV=development
PORT=5001
DATABASE_URL="postgresql://postgres:password123@localhost:5433/lms-db?schema=public"

BCRYPT_SALT_ROUND=10
CORS_ORIGIN=http://localhost:3000,http://localhost:3001,http://127.0.0.1:3000

# Authentication & JWT
JWT_SECRET=echocheck_super_secret_jwt_key_2026
JWT_EXPIRE_IN=15m
JWT_REFRESH_EXPIRE_IN=30d

# Redis Settings
REDIS_URL="redis://localhost:6379"

# Email Settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=bdc.anrul@gmail.com
EMAIL_FROM=bdc.anrul@gmail.com
EMAIL_PASS=wmpgtevaekmxnztv

# Super Admin Seed Credentials
NAME=Super Admin
EMAIL=admin@gmail.com
PHONE=01457385594
PASSWORD=12345678
AVATAR=https://i.ibb.co/VWkMFBWM/pngtree-user-icon-png-image-1796659.jpg

FRONTEND_URL=http://localhost:3000
